form {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
}

.form-control {
  margin-bottom: 1rem;
}

fieldset {
  font-weight: bold;
  padding: 2rem 10vw;
}

fieldset,
input {
  display: block;
  width: 100%;
}


.btn {
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.25rem;
}

.btn:focus {
  outline: none;
  border-color: #50005a;
}

.btn {
  background: #50005a;
  border: 1px solid #50005a;
  color: white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:hover,
.btn:active {
  background: #6a0a77;
  border-color: #6a0a77;
}